body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #008080;
  padding: 10px 20px;
}


main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 40px;
        gap: 40px;
      }



nav a {
  color: rgb(254, 246, 246);
  text-decoration: none;
  margin: 0 25px;
  font-weight: bold;
  }

nav a:hover {
  text-decoration: underline;
}

.logo {
  width: 250px;
  height: auto;
  alt: "Logo";
}

.principal {
  text-align: left;
  font-family: cursive;
  background-color: #e0f2f1;
  padding: 20px 0;
  margin: auto;
}

.principal h1 {
  color: #006666;
  margin: 10px;
  padding: auto;
    
}

p {
    text-align: left;
    text-align: justify;
    width: 500px;
    padding: 15px;
    margin-left: 0;
    margin-right: auto;
    line-height: 1.3;
}

.esquerda {
  line-height: 2.0; /* altura da linha */
  padding: 100px;    /* espaço interno ao redor do texto */
  margin-bottom: 20px; /* espaço abaixo do parágrafo */
  text-align: justify;
  width: 70%; /* ocupa todo o espaço disponível dentro do container */
  box-sizing: border-box; /* garante que o padding não quebre o layout */
}

/* parágrafo do lado direito */
.direita {
    text-align: right;
    text-align: justify;
    width: 800px;
    padding: 15px;
    margin-left: auto;
    margin-right: 0;
    line-height: 2.0;

}

/* ---------- Lema ---------- */


.lema {
  display: block;
  text-align: right;
  font-style: italic;
  font-weight: bold;
  color: #006666;
  margin: 20px 0;
  margin-left: auto;
  margin-right: 300px;
}

/* ---------- Rodapé ---------- */

footer {
  background-color: #008080; /* mesma cor do header */
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 150px; /* separa o rodapé do conteúdo */
  font-size: 0.9em;
  
}

footer p {

  margin: 5px 0; /* espaçamento entre as linhas do footer */
}

footer a {
  color: #fff;
  text-decoration: underline;
}

footer a:hover {
  color: #e0f2f1;
}

